body {
    background-color:#e8d966;
}

h1 {
    text-align:center;
}

p {
    text-transform:lowercase;
}

ul{
    list-style-type: none;
    margin:0%;
    padding:0%;
}


li a {
      display: block;
    width:60px;
}